.mainHeading{
  text-align: center;
  padding:0px;
  margin:0px 200px 0px 200px;
}

.header{
  display:flex;
  align-items: center;
  justify-content: center;
}

.search form button{
  margin-left:5px;
  padding:2px;
}
