
.header{
    text-align: center;
    display: flex;
    align-items: center;
}

 .header form{
    margin-left: 350px;
} 

.header h1{
    padding-left: 500px;
    font-size:40px;
}

.header form button{
    margin-left:5px;
    padding:3px;
    border:1px solid black;
    border-radius:5px;
    font-size:16px;
}


.header form input{
    text-align: center;
    padding:3px;
    border:1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
